<p><h2>How <small>small</small> is the smallest animal?</h2></p>

<p>This text contains special characters. Try to create a web page containing the same text, preserving the<br> formatting.</p>


<p>Einstein's famous formula is E = mc<sup>2</sup></p>

<p>Photosynthesis produces oxygen (O<sub>2</sub>) and sugar out of water (h<sub>2</sub>O), carbon dioxide(CO<sub>2</sub>) and photons from <del>moonlight</del> sunlight</p>

<p>how many &cent; (cents) are in a &dollar;dollar?</p>

<p>Whats the exchange rate between the pound, &pound;, and the Yen, &yen;?</p>

<p>Try to display the &#8364; using hexadecimal or decimal</p>

<p>What happened to the souffle&#769;? Did G&uuml;nther eat it all?</p>

<p>This text is &copy;, &trade; and &reg; by the Acme corporation.</p>