 <tr><td>Acme</td><td colspan="5">Yes</td><td>No</td></tr>
 <tr><td>AkelPad</td><td>Plug-in</td><td colspan="5">Yes</td></tr>
 <tr><td>Alphatk</td><td colspan="6">Yes</td></tr>
 <tr><td>Atom</td><td colspan="5">Yes</td><td>Plug-in</td></tr>
 <tr><td>BBEdit</td><td colspan="6">Yes</td></tr>
 <tr><td>Bluefish</td><td colspan="5">Yes</td><td>No</td></tr>
 <tr><td>Brackets</td><td>Plug-in</td><td>Yes</td><td>Plug-in</td><td>No</td><td colspan="2">Yes</td></tr>
 <tr><td>Coda</td><td colspan="6">Yes</td></tr>
 <tr><td>ConTEXT</td><td>No</td><td>Partial</td><td>Partial</td><td colspan="3">Yes</td></tr>
 <tr><td>Diakonos</td><td colspan="2">Yes</td><td colspan="2">No</td><td colspan="2">Yes</td></tr>
 <tr><td>ed</td><td>No</td><td>Yes</td><td colspan="4">No</td></tr>
 <tr><td>EditPlus</td><td colspan="6">Yes</td></tr>
 <tr><td>Editra</td><td colspan="2">Yes</td><td colspan="3">?</td><td>Yes</td></tr>
 <tr><td>EmEditor</td><td colspan="6">Yes</td></tr>
 <tr><td>Geany</td><td>Plug-in</td><td colspan="5">Yes</td></tr>
 <tr><td>gedit</td><td>Yes</td><td>Plug-in</td><td colspan="3">Yes</td><td>Plug-in</td></tr>
 <tr><td>GNU Emacs</td><td>Plug-in</td><td colspan="5">Yes</td></tr>
 <tr><td>Gobby</td><td colspan="2">No</td><td>Partial</td><td>Partial</td><td colspan="2">No</td></tr>
 <tr><td>JED</td><td colspan="6">Yes</td></tr>
 <tr><td>JOVE</td><td colspan="2">Yes</td><td colspan="2">No</td><td colspan="2">Yes</td></tr>
 <tr><td>Kate</td><td colspan="6">Yes</td></tr>
 <tr><td>KEDIT</td><td>No</td><td>Yes</td><td>No</td><td colspan="3">Yes</td></tr>
 <tr><td>Komodo Edit</td><td colspan="6">Yes</td></tr>
 <tr><td>KWrite</td><td colspan="6">Yes</td></tr>
 <tr><td>LE</td><td>No</td><td>Yes</td><td>No</td><td colspan="3">Yes</td></tr>
 <tr><td>Light Table</td><td>Plug-in</td><td>?</td><td colspan="2">No</td><td>Yes</td><td>?</td></tr>
 <tr><td>Metapad</td><td>Partial</td><td>No</td><td colspan="3">Yes</td><td>No</td></tr>
 <tr><td>mg</td><td>No</td><td>Yes</td><td>No</td><td>Partial</td><td>Yes</td><td>No</td></tr>
 <tr><td>MinEd</td><td>No</td><td colspan="3">Yes</td><td>No</td><td>Yes</td></tr>
 <tr><td>MS-DOS Editor</td><td colspan="3">No</td><td>Yes</td><td colspan="2">No</td></tr>
 <tr><td>Nano</td><td colspan="2">Yes</td><td>No</td><td colspan="2">Yes</td><td>No</td></tr>
 <tr><td>ne</td><td>No</td><td>Yes</td><td colspan="2">No</td><td colspan="2">Yes</td></tr>
 <tr><td>NEdit</td><td>Plug-in</td><td>Yes</td><td>No</td><td colspan="3">Yes</td></tr>
 <tr><td>Notepad</td><td colspan="6">No</td></tr>
 <tr><td>Notepad++</td><td colspan="6">Yes</td></tr>
 <tr><td>Notepad2</td><td>No</td><td>Limited</td><td colspan="4">Yes</td></tr>
 <tr><td>NoteTab</td><td colspan="6">Yes</td></tr>
 <tr><td>nvi</td><td>No</td><td>Yes</td><td colspan="2">No</td><td>Yes</td><td>?</td></tr>
 <tr><td>Peppermint</td><td colspan="6">Yes</td></tr>
 <tr><td>Pico</td><td>Yes</td><td colspan="5">No</td></tr>
 <tr><td>PolyEdit</td><td colspan="6">Yes</td></tr>
 <tr><td>Programmer's Notepad</td><td>No</td><td colspan="5">Yes</td></tr>
 <tr><td>PSPad</td><td colspan="6">Yes</td></tr>
 <tr><td>Q10</td><td>Yes</td><td colspan="5">?</td></tr>
 <tr><td>RText</td><td colspan="5">Yes</td><td>No</td></tr>
 <tr><td>SciTE</td><td>No</td><td>Limited</td><td>No</td><td colspan="3">Yes</td></tr>
 <tr><td>SlickEdit</td><td colspan="6">Yes</td></tr>
 <tr><td>Smultron</td><td colspan="6">Yes</td></tr>
 <tr><td>Source Insight</td><td>No</td><td>Yes</td><td>No</td><td colspan="3">Yes</td></tr>
 <tr><td>SubEthaEdit</td><td colspan="6">Yes</td></tr>
 <tr><td>Sublime Text</td><td colspan="6">Yes</td></tr>
 <tr><td>TED Notepad</td><td colspan="3">No</td><td colspan="2">Yes</td><td>No</td></tr>
 <tr><td>TextEdit</td><td>Yes</td><td>No</td><td colspan="4">Yes</td></tr>
 <tr><td>TextMate</td><td colspan="2">Yes</td><td>Partial</td><td colspan="3">Yes</td></tr>
 <tr><td>TextPad</td><td colspan="6">Yes</td></tr>
 <tr><td>TextWrangler</td><td colspan="6">Yes</td></tr>
 <tr><td>The SemWare Editor</td><td colspan="2">Yes</td><td>No</td><td colspan="3">Yes</td></tr>
 <tr><td>UltraEdit</td><td>Yes</td><td>Limited</td><td colspan="4">Yes</td></tr>
 <tr><td>VEDIT</td><td colspan="6">Yes</td></tr>
 <tr><td>vi</td><td>No</td><td>Yes</td><td colspan="4">No</td></tr>
 <tr><td>Vim</td><td colspan="6">Yes</td></tr>
 <tr><td>Visual Studio Code</td><td>Plug-in</td><td colspan="5">Yes</td></tr>
 <tr><td>Xeditor</td><td colspan="6">Yes</td></tr>
 <tr><td>XEmacs</td><td>Plug-in</td><td colspan="5">Yes</td></tr>
 <tr><td>Yi</td><td>?</td><td>Yes</td><td colspan="2">?</td><td colspan="2">Yes</td></tr>